@layout EmptyLayout
@page "/ItemwiseTables"
@inject NavigationManager NavigationManager
@inject IItemwiseTableService ItemwiseTableService
@inject ITableNameService TableNameService
@inject IDailyTableDetailService DailyTableDetailService


@if (ItemwiseTableService.DailyTableDetails == null || ItemwiseTableService.DailyTableDetails.Count == 0)
{
    <_Spinner />
}
else
{
    <_Header Title=@TitleName></_Header>
    <body>
        <div class="col-12 p-3 table-responsive">
            @if (ItemwiseTableModelList1.Any())
            {
                <table class="table table-bordered border-primary table-sm table-striped table-hover">
                    <thead style="background-color:blueviolet; color: white;">
                        <tr style="text-align:center">
                            <th>Item Name</th>
                            <th>Table</th>
                            <th>Qty</th>
                            <th>Pending</th>
                            <th>Delivered</th>
                            <th>Cooking</th>
                            <th>Ready</th>
                            <th>Cancel</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ItemwiseTableModelList1)
                        {
                            <tr>
                                <td>@item.ItemName</td>
                                <td style="text-align:center">@item.TableName</td>
                                <td style="text-align:center">@item.NoOfQuantity</td>
                                <td style="text-align:center">@item.NoOfPendingItem</td>
                                <td style="text-align:center">@item.NoOfDeliveredItem</td>
                                <td style="text-align:center">@item.NoOfCookingItem</td>
                                <td style="text-align:center">@item.NoOfReadyItem</td>
                                <td style="text-align:center">@item.NoOfCancelItem</td>
                            </tr>
                        }
                    </tbody>

                </table>
            }
        </div>

        <div>
            <_Footer></_Footer>
        </div>
    </body>
}
