@layout EmptyLayout
@page "/KOTPendingTables"
@inject NavigationManager NavigationManager
@inject DialogService ds
@inject IDailyTableDetailService DailyTableDetailService
@inject ITableNameService TableNameService

@if (DailyTableDetailService.DailyTableDetails == null || DailyTableDetailService.DailyTableDetails.Count == 0)
{
    <_Spinner />
}
else
{
    <div id="container">

        <header>
            <_Header Title=@TitleName></_Header>
        </header>

        <article>
            <div id="flex-container" class="myClss">
                @foreach (var item in KotPendingList1)
                {
                    <div class="bg-light m-1" style="border: 1px solid">
                        <div style="background-color:#FFCC70">
                            <h6 style="text-align:center; color:black; margin:0px">Table - @item.TableName</h6>
                        </div>

                        <table style="margin:0px" class="table table-bordered border-primary table-sm table-striped">
                            <thead style="background-color:#AFD3E2; color: black;">
                                <tr>
                                    <th>KOT Qty</th>
                                    <th>Pending KOT</th>
                                    <th>Delivered KOT</th>
                                    <th>Ready KOT</th>
                                    <th>Cancel KOT</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                    <td>@item.TotalItemQty</td>
                                    <td>@item.PendingItemQty</td>
                                    <td>@item.DeliveredItemQty</td>
                                    <td>@item.ReadyItemQty</td>
                                    <td>@item.CancelItemQty</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </article>

        <footer>
            <_Footer></_Footer>
        </footer>
    </div>
}

