@layout EmptyLayout
@page "/SupervisorScreen"
@inject IDailyTableService DailyTableService
@inject IDailyTableDetailService DailyTableDetailService
@inject IEmployeeMasterService EmployeeMasterService
@inject IItemwiseTableService ItemwiseTableService
@inject ITableNameService TableNameService
@inject NavigationManager NavigationManager

@if (DailyTableDetailService.DailyTableDetails == null || DailyTableDetailService.DailyTableDetails.Count == 0)
{
    <_Spinner />
}
else
{
    <_Header Title=@TitleName></_Header>
@* 
    <div class="flex-container"> *@
@* 
        <div class="Header-Elements" style="float:left;">
            <label class="form-label" style="margin-left:5px; color:black">Search by Table : </label>
            <input class="form-control" style="display:inline-block; margin-left:5px; width:auto; border:1px solid black" type="text" @bind-value="@Search" placeholder="Enter Table Name" />
        </div> *@

        @*  <div class="Header-Elements" style="float:right">
    <label class="form-label" style="display:inline-block;color:black">search by Status :</label>
    <select class="form-select" style="display:inline-block;border:1px solid black">
    <option>All</option>
    <option>Pending</option>
    <option>Delivered</option>
    </select>
    </div> *@

  @*   </div> *@

    @foreach (var kk in DailyTableService.DailyTables)
    {
        @* KOT-Wise Item List *@
        var tt = @ItemwiseTableModelList.Where(temp => temp.TableName == kk.TableId.ToString()).ToList();
        var KotNoList = tt.Select(temp => temp.KotNo).Distinct().ToList();
        foreach (var k in KotNoList)
        {
            var pp = tt.Where(temp => temp.KotNo == k).ToList();

            <div class="m-1" style="display:inline-flex; align-items:flex-start">
                <table class="table border table-bordered border-primary table-sm table-striped table-hover table-responsive">

                    <tr style="background-color:blueviolet; color: white; text-align:center; border:1px solid black">
                        <td>Table</td>
                        <td style="padding-left:10px; padding-right:10px">KOT-NO</td>
                        <td>Captain</td>
                        <td>Waiter</td>
                        <td>Customer</td>
                        <td colspan="3">Time</td>
                    </tr>

                    <tr style="text-align:center; border:1px solid black; border-top-color:black">
                        <td style="font-size:x-large">@TableNameService.TableNames.FirstOrDefault(temp=>temp.TableId == Convert.ToInt32(pp[0].TableName))?.TableName1</td>
                        <td style="border:1px solid black">@k</td>
                        <td style="border:1px solid black">@pp[0].CaptainName</td>
                        <td style="border:1px solid black">@pp[0].WaiterName</td>
                        <td style="border:1px solid black">@pp[0].CustomerName</td>
                        <td colspan="3" style="border:1px solid black">@pp[0].StartTime.ToString("hh:mm tt")</td>
                    </tr>

                    <tr style="text-align:center; background-color:yellowgreen; border:1px solid blue;">
                        <td style="border:1px solid black;">Item Name</td>
                        <td style="border:1px solid black;">Qty</td>
                        <td style="border:1px solid black;">Pending</td>
                        <td style="border:1px solid black;">Delivered</td>
                        <td style="border:1px solid black;">Cooking</td>
                        <td style="border:1px solid black;">Ready</td>
                        <td style="border:1px solid black;">Cancel</td>
                        <td style="border:1px solid black;">Edit</td>
                    </tr>

                    <tbody>

                        @foreach (var i in pp)
                        {
                            <tr>
                                <td>@i.ItemName</td>
                                <td style="text-align:center">@i.NoOfQuantity</td>
                                <td style="text-align:center">@i.NoOfPendingItem</td>
                                <td style="text-align:center">@i.NoOfDeliveredItem</td>
                                <td style="text-align:center">@i.NoOfCancelItem</td>
                                <td style="text-align:center">@i.NoOfReadyItem</td>
                                <td style="text-align:center">@i.NoOfCancelItem</td>
                                <td style="text-align:center">
                                    <button class="btn btn-primary" @onclick="(() => ShowItem(i.DailyTableDetailID))"><i class="oi oi-pencil"></i></button>
                                </td>
                            </tr>
                        }

                    </tbody>

                    <tr style="text-align:center">
                        <td colspan="8"><button class="btn btn-primary form-control" style="background-color:blueviolet; width:auto;" @onclick="(()=>UpdateKOT(k))">Update KOT</button></td>
                    </tr>
                </table>
            </div>
        }
    }
    <div>
        <_Footer></_Footer>
    </div>
}