@layout EmptyLayout
@page "/SupervisorScreen"



<_Header Title=@TitleName></_Header>


<div class="flex-container">

    <div class="Header-Elements" style="float:left;">
        <label class="form-label" style="margin-left:5px; color:black">Search by Table : </label>
        <input class="form-control" style="display:inline-block; margin-left:5px; width:auto; border:1px solid black" type="text" @bind-value="@Search" placeholder="Enter Table Name" />
    </div>

    <div class="Header-Elements" style="float:right">
        <label class="form-label" style="display:inline-block;color:black">search by Status :</label>
        <select class="form-select" style="display:inline-block;border:1px solid black">
            <option>All</option>
            <option>Pending</option>
            <option>Delivered</option>
        </select>
    </div>

</div>





@foreach (var item in TableName!)
{
    var kk = @supervisorScreenModels.Where(temp => temp.TableName == item).FirstOrDefault()!;
    var tt = @supervisorScreenModels.Where(temp => temp.TableName == item).ToList();

    <div class="m-1" style="display:inline-block">


        <table class="table border table-bordered border-primary table-sm table-striped table-hover table-responsive">

            <tr style="background-color:blueviolet; color: white; text-align:center; border:1px solid black">
                <td>Table</td>
                <td>Captain</td>
                <td>Waiter</td>
                <td>Customer</td>
                <td>Time</td>
            </tr>

            <tr style="text-align:center; border:1px solid black; border-top-color:black">
                <td style="font-size:x-large">@kk.TableName</td>
                <td style="border:1px solid black">@kk.CaptainName</td>
                <td style="border:1px solid black">@kk.WaiterName</td>
                <td style="border:1px solid black">@kk.CustomerName</td>
                <td style="border:1px solid black">@kk.OrderedTime.ToString("HH:mm tt")</td>
            </tr>

            <tr style="text-align:center; background-color:yellowgreen; border:1px solid blue;">
                <td style="border:1px solid black">Item Name</td>
                <td style="border:1px solid black">Pending</td>
                <td style="border:1px solid black">Ready</td>
                <td style="border:1px solid black">None</td>
                <td style="border:1px solid black">Edit</td>
            </tr>

            <tbody>

                @foreach (var i in tt)
                {
                    <tr>
                        <td>@i.ItemName</td>
                        <td>@i.PendingItemQty</td>
                        <td>@i.Delivered</td>
                        <td>none</td>
                        <td>Edit</td>
                    </tr>
                }

            </tbody>

            <tr style="text-align:center">
                <td colspan="5"><button class="btn btn-primary form-control" style="background-color:blueviolet; width:auto;">Update KOT</button></td>
            </tr>           
        </table>
    </div>
}








<div class="col-3 p-1">
    <table class="table table-bordered border-primary table-sm table-striped table-hover">
        <thead style="background-color:blueviolet; color: white;">
            <tr style="text-align:center">
                <th colspan="2">
                    Panner Tikka Masala
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:center; vertical-align:middle">
                    Total Qty
                </td>
                <td>
                    <input type="number" class="form-control" style="border:1px solid black; border-radius:5px; " />
                </td>
            </tr>
            <tr>
                <td style="text-align:center; vertical-align:middle">
                    Pending
                </td>
                <td>
                    <input type="number" class="form-control" style="border:1px solid black; border-radius:5px;" />
                </td>
            </tr>
            <tr>
                <td style="text-align:center; vertical-align:middle">
                    Ready
                </td>
                <td>
                    <input type="number" class="form-control" style="border:1px solid black; border-radius:5px; " />
                </td>
            </tr>
            <tr>
                <td style="text-align:center; vertical-align:middle">
                    Delivered
                </td>
                <td>
                    <input type="number" class="form-control" style="border:1px solid black; border-radius:5px;" />
                </td>
            </tr>
            <tr>
                <td style="text-align:center; vertical-align:middle">
                    Cancel
                </td>
                <td>
                    <input type="number" class="form-control" style="border:1px solid black; border-radius:5px;" />
                </td>
            </tr>
            <tr>
                <td style="text-align:center; vertical-align:middle">
                    Status
                </td>
                <td>
                    <select class="form-select" style="border:1px solid black; border-radius:5px;">
                        <option>Deliverd</option>
                        <option>Pending</option>
                        <option>Ready</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <button class="btn btn-primary" style="background-color:blueviolet">Save</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<div class="col-12">
    <table class="table table-bordered border-primary table-sm table-striped table-hover">
        <thead style="background-color:blueviolet; color: white;">
            <tr style="text-align:center">
                <th colspan="3">
                    Table : 2  
                </th>
                <th colspan="3">
                    KOT : 16
                </th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align:center; font-weight:bold; background-color:lightblue">
                <td>Item Name</td>
                <td>Pending</td>
                <td>Cooking</td>
                <td>Ready</td>
                <td>Deliverd</td>
                <td>Cancel</td>
            </tr>
            <tr style="align-content:center">
                <td>Panner Tiikka Masala</td>
                <td> <input type="number" class="form-control" style="border:1px solid black; border-radius:5px; " /></td>
                <td>  <input type="number" class="form-control" style="border:1px solid black; border-radius:5px; " /></td>
                <td>  <input type="number" class="form-control" style="border:1px solid black; border-radius:5px;" /></td>
                <td>  <input type="number" class="form-control" style="border:1px solid black; border-radius:5px; " /></td>
                <td>  <input type="number" class="form-control" style="border:1px solid black; border-radius:5px; " /></td>
            </tr>
            <tr>
                <td>Panner Tiikka Masala</td>
                <td>10</td>
                <td>3</td>
                <td>2</td>
                <td>5</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Panner Tiikka Masala</td>
                <td>10</td>
                <td>3</td>
                <td>2</td>
                <td>5</td>
                <td>1</td>
            </tr>
            <tr>
                <td colspan="3">
                    Status
                </td>
                <td colspan="3">
                    <select class="form-select" style="border:1px solid black">
                        <option>Deliverd</option>
                        <option>Pending</option>
                        <option>Ready</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="6" style="text-align:center">
                    <button class="btn btn-primary" style="background-color:blueviolet">Save</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div>
    <_Footer></_Footer>
</div>






@code {
    string TitleName = "Supervisor Screen";
    string? Search;


    List<SupervisorScreenModel> supervisorScreenModels = new List<SupervisorScreenModel>()
    {
        new SupervisorScreenModel{TableName="1",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka Panner Tikka Panner Tikka Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="1",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="1",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="1",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="1",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="1",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="1",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="2",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="2",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="2",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="2",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="2",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="2",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3},
        new SupervisorScreenModel{TableName="2",CaptainName="Ramesh", WaiterName="Ganesh",CustomerName="Rawan",OrderedTime=DateTime.Now, ItemName="Panner Tikka",PendingItemQty=5,Delivered=3}
    };

    List<string>? TableName;
    protected override void OnInitialized()
    {

        TableName = supervisorScreenModels.Select(temp => temp.TableName).Distinct().ToList()!;
    }

    // private  modalRef;
    // private Task ShowModal()
    // {
    //     return modalRef.Show();
    // }

    // private Task HideModal()
    // {
    //     return modalRef.Hide();
    // }
}
